@font-face {
  font-family: "MontHeavy";
  src: url("/fonts/Mont-Heavy.otf") format("opentype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;

  font-family: "Verdana", Geneva, Tahoma, sans-serif;

  background-color: #15202b;
  color: white;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
.font-heavy {
  font-family: "MontHeavy", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
