.homeContainer {
  display: flex;
  justify-content: space-between;
}

.leftContent {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.logoX {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #657786;
  border-radius: 50%;
}

.name p {
  font-weight: bold;
  margin: 0;
}

.name span {
  color: #657786;
  margin: 0;
  font-size: 0.9rem;
}
